body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #575757;
}

/* Sidebar */
aside {
  width: 200px;
  height: 100vh;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

aside a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}

aside a pre {
  font-family: serif;
  font-size: 25px;
}

aside a img {
  width: 25px;
  height: 25px;
}

aside a img[src="summary.png"] {
    width: 30px;
    height: 14px;
}


aside a:hover {
  background: #575757;
}

section#main-content {
  margin-left: 200px;
  padding: 20px;
}
