body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #575757;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #242424;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar a pre {
    font-family: serif;
    font-size: 25px;
}

.sidebar a img {
    width: 25px;
    height: 25px;
}

.sidebar a img[src="summary.png"] {
    width: 30px;
    height: 14px;
}


.sidebar a:hover {
    background: #575757;
    transform: translateY(-8px);
    box-shadow: 0 12px 32px rgba(0,0,0,0.45);
}

.content {
    flex: 1;
    padding: 30px;
}

.summary-box {
    margin-top: 20px;
    background: #575757;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.summary-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 32px rgba(0,0,0,0.45);
}

.charts {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 50%;
    background: #b9b9b9;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    color: black;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 32px rgba(215, 211, 211, 0.45);
}

.placeholder {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    background: #303030;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.placeholder#bar {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    margin-right: 200px;
    background: #b9b9bb;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.piechart {
    margin-left: 0px;
}

.line-chart {
    margin-top: 30px;
    background: #303030;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.line-chart:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 32px rgba(215, 211, 211, 0.45);
}

canvas{
    width: 100%;
    height: 180px;
}
