body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #575757;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background: #333;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
}

.sidebar a pre {
  font-family: serif;
  font-size: 25px;
}

.sidebar a img {
  width: 25px;
  height: 25px;
}

.sidebar a img[src="summary.png"] {
    width: 30px;
    height: 14px;
}


.sidebar a:hover {
  background: #575757;
}

.content {
    flex: 1;
    padding: 30px;
}

.summary-box {
    margin-top: 20px;
    background: #000000;
    padding: 20px;
    border-radius: 10px;
}

.charts {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 50%;
    background: #303030;
    padding: 20px;
    border-radius: 10px;
}

.placeholder {
    width: 100%;
    height: 180px;
    margin-top: 15px;
    background: #383838;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.line-chart {
    margin-top: 30px;
}

